In [1]:
# import required libraries
# for data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
# locate the dataframe file and display the information
juv_negeri = pd.read_excel('Final negeri.xlsx')
juv_negeri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Negeri   128 non-null    object
 1   Jantina  128 non-null    object
 2   Tahun    128 non-null    int64
 3   Jumlah   128 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.1+ KB

In [3]:
# display all column names
print(juv_negeri.columns.values)

['Negeri ' 'Jantina' 'Tahun' 'Jumlah']

In [4]:
juv_negeri.head()

    Negeri              Jantina  Tahun  Jumlah
0     Johor       Lelaki / Male   2016     487
1     Johor  Perempuan / Female   2016      46
2    Kedah        Lelaki / Male   2016     373
3    Kedah   Perempuan / Female   2016      18
4  Kelantan       Lelaki / Male   2016     435

In [5]:
juv_negeri.tail()

               Negeri            Jantina  Tahun  Jumlah
123  W.P. Kuala Lumpur  Perempuan/Female   2019      46
124        W.P. Labuan       Lelaki/Male   2019      32
125        W.P. Labuan  Perempuan/Female   2019       2
126     W.P. Putrajaya       Lelaki/Male   2019       7
127     W.P. Putrajaya  Perempuan/Female   2019       0

In [6]:
juv_negeri.dropna(inplace = True)

In [7]:
juv_negeri.drop_duplicates(inplace=True)

In [8]:
juv_negeri.isnull().values.any()

False

In [9]:
juv_negeri.isnull().any()

Negeri     False
Jantina    False
Tahun      False
Jumlah     False
dtype: bool

In [10]:
# display basic statistical information
juv_negeri.describe(include=['O'])

         Negeri         Jantina
count        128            128
unique        30              6
top     Kelantan  Lelaki / Male
freq           8             32

In [11]:
# Rename the column name
juv_negeri.rename(columns = {'Negeri ':'Negeri'}, inplace = True)

In [12]:
# display all column names
print(juv_negeri.columns.values)

['Negeri' 'Jantina' 'Tahun' 'Jumlah']

In [13]:
# display information based of state (negeri)
juv_negeri.groupby(by=["Negeri"], dropna=False).count()

                    Jantina  Tahun  Jumlah
Negeri
Johor                     6      6       6
Johor                     2      2       2
Kedah                     4      4       4
Kedah                     4      4       4
Kelantan                  8      8       8
Melaka                    2      2       2
Melaka                    6      6       6
Negeri Sembilan           8      8       8
Pahang                    2      2       2
Pahang                    6      6       6
Perak                     2      2       2
Perak                     6      6       6
Perlis                    8      8       8
Pulau Pinang              6      6       6
Pulau Pinang              2      2       2
Putrajaya                 4      4       4
Sabah                     8      8       8
Sarawak                   8      8       8
Selangor                  2      2       2
Selangor                  6      6       6
Terengganu                6      6       6
Terengganu                2      2       2
W.P. Kuala Lumpur         2      2       2
W.P. Kuala Lumpur         4      4       4
W.P. Labuan               2      2       2
W.P. Labuan               4      4       4
W.P. Putrajaya            2      2       2
WP Kuala Lumpur           2      2       2
WP Labuan                 2      2       2
WP Putrajaya              2      2       2

In [14]:
juv_negeri['Negeri'].unique()

array(['Johor', 'Kedah ', 'Kelantan', 'Melaka ', 'Negeri Sembilan',
       'Pahang ', 'Perak ', 'Perlis', 'Pulau Pinang', 'Putrajaya',
       'Sabah', 'Sarawak', 'Selangor ', 'Terengganu',
       'W.P. Kuala Lumpur ', 'W.P. Labuan ', 'Kedah', 'Melaka', 'Pahang',
       'Perak', 'Selangor', 'WP Kuala Lumpur', 'WP Labuan',
       'WP Putrajaya', 'Johor ', 'Pulau Pinang ', 'Terengganu ',
       'W.P. Kuala Lumpur', 'W.P. Labuan', 'W.P. Putrajaya'], dtype=object)

In [15]:
# standardize the data
juv_negeri['Negeri'].replace(to_replace=["Johor "], value="Johor", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Kedah "], value="Kedah", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Melaka "], value="Melaka", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Pahang "], value="Pahang", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Perak "], value="Perak", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Pulau Pinang "], value="Pulau Pinang", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Selangor "], value="Selangor", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Terengganu "], value="Terengganu", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["W.P. Kuala Lumpur ","WP Kuala Lumpur"], value="W.P. Kuala Lumpur",
                             inplace = True)
juv_negeri['Negeri'].replace(to_replace=["W.P. Labuan ","WP Labuan"], value="W.P. Labuan", inplace = True)
juv_negeri['Negeri'].replace(to_replace=["Putrajaya","WP Putrajaya"], value="W.P. Putrajaya", inplace = True)

In [16]:
# display information based of state (negeri)
juv_negeri.groupby(by=["Negeri"], dropna=False).count()

                   Jantina  Tahun  Jumlah
Negeri
Johor                    8      8       8
Kedah                    8      8       8
Kelantan                 8      8       8
Melaka                   8      8       8
Negeri Sembilan          8      8       8
Pahang                   8      8       8
Perak                    8      8       8
Perlis                   8      8       8
Pulau Pinang             8      8       8
Sabah                    8      8       8
Sarawak                  8      8       8
Selangor                 8      8       8
Terengganu               8      8       8
W.P. Kuala Lumpur        8      8       8
W.P. Labuan              8      8       8
W.P. Putrajaya           8      8       8

In [17]:
# display information based of state (negeri)
juv_negeri.groupby(by=["Jantina"], dropna=False).count()

                    Negeri  Tahun  Jumlah
Jantina
Lelaki                  16     16      16
Lelaki / Male           32     32      32
Lelaki/Male             16     16      16
Perempuan               16     16      16
Perempuan / Female      32     32      32
Perempuan/Female        16     16      16

In [18]:
juv_negeri['Jantina'].unique()

array(['Lelaki / Male', 'Perempuan / Female', 'Lelaki', 'Perempuan',
       'Lelaki/Male', 'Perempuan/Female'], dtype=object)

In [19]:
# standardize the data
juv_negeri['Jantina'].replace(to_replace=["Lelaki / Male","Lelaki/Male"], value="Lelaki", inplace=True)
juv_negeri['Jantina'].replace(to_replace=["Perempuan / Female","Perempuan/Female"], value="Perempuan", inplace=True)

In [20]:
# display information based of state (negeri)
juv_negeri.groupby(by=["Jantina"], dropna=False).count()

           Negeri  Tahun  Jumlah
Jantina
Lelaki         64     64      64
Perempuan      64     64      64

In [21]:
# display information based of state (negeri)
juv_negeri.groupby(by=["Tahun"], dropna=False).count()

       Negeri  Jantina  Jumlah
Tahun
2016       32       32      32
2017       32       32      32
2018       32       32      32
2019       32       32      32

In [22]:
juv_negeri['Tahun'] = juv_negeri['Tahun'].astype(str)

In [23]:
juv_negeri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Negeri   128 non-null    object
 1   Jantina  128 non-null    object
 2   Tahun    128 non-null    object
 3   Jumlah   128 non-null    int64
dtypes: int64(1), object(3)
memory usage: 5.0+ KB

In [24]:
juv_negeri['Tahun'] = pd.to_datetime(juv_negeri['Tahun'])

In [25]:
juv_negeri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Negeri   128 non-null    object
 1   Jantina  128 non-null    object
 2   Tahun    128 non-null    datetime64[ns]
 3   Jumlah   128 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 5.0+ KB

In [26]:
excel_file = pd.ExcelWriter("juvdata_negeri.xlsx")

In [27]:
juv_negeri.to_excel(excel_file)

In [28]:
excel_file.save()