In [1]:
# import required libraries
# for data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
# locate the dataframe file and display the information
juv_penjaga = pd.read_excel('Final kawalan penjagaan.xlsx')
juv_penjaga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Kawalan penjagaan  33 non-null     object
 1   Tahun              33 non-null     int64
 2   Jumlah             33 non-null     int64
dtypes: int64(2), object(1)
memory usage: 920.0+ bytes

In [3]:
# display all column names
print(juv_penjaga.columns.values)

['Kawalan penjagaan' 'Tahun' 'Jumlah']

In [4]:
# Rename the column name
juv_penjaga.rename(columns = {'Kawalan penjagaan':'Living With',
                               'Tahun':'Year', 'Jumlah':'Total'}, inplace = True)

In [5]:
juv_penjaga.head()

                                         Living With  Year  Total
0  Bersama ahli keluarga terdekat / With close fa...  2016    175
1  Bersama ahli keluarga terdekat / With close fa...  2017    174
2  Bersama ahli keluarga terdekat / With close fa...  2018     95
3        Bersama bapa / duda / with father / widower  2016    135
4        Bersama bapa / duda / with father / widower  2017    259

In [6]:
juv_penjaga.tail()

                                          Living With  Year  Total
28  Tidak menentu / lari dari rumah / Unsure / Run...  2017     23
29  Tidak menentu / lari dari rumah / Unsure / Run...  2018     13
30                    Tinggal sendiri / Staying alone  2016     26
31                    Tinggal sendiri / Staying alone  2017     65
32                    Tinggal sendiri / Staying alone  2018     20

In [7]:
juv_penjaga.dropna(inplace = True)

In [8]:
juv_penjaga.drop_duplicates(inplace=True)

In [9]:
juv_penjaga.isnull().values.any()

False

In [10]:
juv_penjaga.isnull().any()

Living With    False
Year           False
Total          False
dtype: bool

In [11]:
# display basic statistical information
juv_penjaga.describe(include=['O'])

                                              Living With
count                                                  33
unique                                                 11
top     Bersama ahli keluarga terdekat / With close fa...
freq                                                    3

In [12]:
# display information based of state (negeri)
juv_penjaga.groupby(by=["Living With"], dropna=False).count()

                                                    Year  Total
Living With
Bersama ahli keluarga terdekat / With close fam...     3      3
Bersama bapa / duda / with father / widower            3      3
Bersama bapa dan ibu tiri / With father and ste...     3      3
Bersama datuk dan nenek / With grandparents            3      3
Bersama ibu / ibu tunggal / With mother / singl...     3      3
Bersama ibu dan bapa tiri / With mother step fa...     3      3
Bersama ibubapa / With parents                         3      3
Bersama kawan / With friends                           3      3
Lain-Lain / Others                                     3      3
Tidak menentu / lari dari rumah / Unsure / Run-...     3      3
Tinggal sendiri / Staying alone                        3      3

In [13]:
juv_penjaga['Living With'].unique()

array(['Bersama ahli keluarga terdekat / With close family members',
       'Bersama bapa / duda / with father / widower',
       'Bersama bapa dan ibu tiri / With father and step mother',
       'Bersama datuk dan nenek / With grandparents',
       'Bersama ibu / ibu tunggal / With mother / single mother',
       'Bersama ibu dan bapa tiri / With mother step father',
       'Bersama ibubapa / With parents', 'Bersama kawan / With friends',
       'Lain-Lain / Others',
       'Tidak menentu / lari dari rumah / Unsure / Run-away from home',
       'Tinggal sendiri / Staying alone'], dtype=object)

In [14]:
# standardize the data
juv_penjaga['Living With'].replace(to_replace=["Bersama ahli keluarga terdekat / With close family members"],
                                         value="Close family members", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama bapa / duda / with father / widower"],
                                         value="Father / single father", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama bapa dan ibu tiri / With father and step mother"],
                                         value="Father & step mother", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama datuk dan nenek / With grandparents"],
                                         value="Grandparents", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama ibu / ibu tunggal / With mother / single mother"],
                                         value="Mother / single mother", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama ibu dan bapa tiri / With mother step father"],
                                         value="Mother & step father", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama ibubapa / With parents"], value="Parents",
                                         inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Bersama kawan / With friends"], value="Friends",
                                         inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Lain-Lain / Others"], value="Others", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Tidak menentu / lari dari rumah / Unsure / Run-away from home"]
                                         ,value="Unsure / Run-away from home", inplace=True)

juv_penjaga['Living With'].replace(to_replace=["Tinggal sendiri / Staying alone"], value="Staying alone",
                                         inplace=True)

In [15]:
# display information based of state (negeri)
juv_penjaga.groupby(by=["Living With"], dropna=False).count()

                             Year  Total
Living With
Close family members            3      3
Father & step mother            3      3
Father / single father          3      3
Friends                         3      3
Grandparents                    3      3
Mother & step father            3      3
Mother / single mother          3      3
Others                          3      3
Parents                         3      3
Staying alone                   3      3
Unsure / Run-away from home     3      3

In [16]:
# display information based of state (negeri)
juv_penjaga.groupby(by=["Year"], dropna=False).count()

      Living With  Total
Year
2016           11     11
2017           11     11
2018           11     11

In [17]:
juv_penjaga['Year'] = juv_penjaga['Year'].astype(str)

In [18]:
juv_penjaga.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Living With  33 non-null     object
 1   Year         33 non-null     object
 2   Total        33 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.0+ KB

In [19]:
juv_penjaga['Year'] = pd.to_datetime(juv_penjaga['Year'])

In [20]:
juv_penjaga.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Living With  33 non-null     object
 1   Year         33 non-null     datetime64[ns]
 2   Total        33 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.0+ KB

In [21]:
excel_file = pd.ExcelWriter("juvdata_inthecareof.xlsx")

In [22]:
juv_penjaga.to_excel(excel_file, index = False)

In [23]:
excel_file.save()