In [1]:
# import required libraries
# for data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
# locate the dataframe file and display the information
juv_kediaman = pd.read_excel('Final kediaman.xlsx')
juv_kediaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Kawasan Kediaman  41 non-null     object
 1   Tahun             41 non-null     int64
 2   Jumlah            41 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.1+ KB

In [3]:
# display all column names
print(juv_kediaman.columns.values)

['Kawasan Kediaman' 'Tahun' 'Jumlah']

In [4]:
juv_kediaman.head()

          Kawasan Kediaman  Tahun  Jumlah
0                   Banglo   2016      30
1                   Banglo   2017      34
2                   Banglo   2018      51
3  Di asrama sekolah/kolej   2016      26
4  Di asrama sekolah/kolej   2017      11

In [5]:
juv_kediaman.tail()

                  Kawasan Kediaman  Tahun  Jumlah
36  Rumah setinggan kawasan bandar   2021      35
37           Setinggan luar bandar   2021      14
38    Di asrama sekolah atau kolej   2021       1
39              Lain-lain Nyatakan   2021      86
40                  Tiada maklumat   2021     175

In [6]:
juv_kediaman.dropna(inplace = True)

In [7]:
juv_kediaman.drop_duplicates(inplace=True)

In [8]:
juv_kediaman.isnull().values.any()

False

In [9]:
juv_kediaman.isnull().any()

Kawasan Kediaman    False
Tahun               False
Jumlah              False
dtype: bool

In [10]:
# display basic statistical information
juv_kediaman.describe(include=['O'])

       Kawasan Kediaman
count                41
unique               17
top              Banglo
freq                  4

In [11]:
# display information based of state (negeri)
juv_kediaman.groupby(by=["Kawasan Kediaman"], dropna=False).count()

                                  Tahun  Jumlah
Kawasan Kediaman
Banglo                                4       4
Di asrama sekolah atau kolej          1       1
Di asrama sekolah/kolej               3       3
Kondo mewah                           4       4
Lain-lain                             3       3
Lain-lain Nyatakan                    1       1
Rumah berkembar                       4       4
Rumah kampung atau rumah panjang      1       1
Rumah kampung/rumah panjang           3       3
Rumah pangsa atau kondo rakyat        1       1
Rumah pangsa/kondo rakyat             3       3
Rumah setinggan (bandar)              3       3
Rumah setinggan kawasan bandar        1       1
Rumah teres atau berangkai            1       1
Rumah teres/berangkai                 3       3
Setinggan luar bandar                 4       4
Tiada maklumat                        1       1

In [12]:
juv_kediaman['Kawasan Kediaman'].unique()

array(['Banglo', 'Di asrama sekolah/kolej', 'Kondo mewah', 'Lain-lain',
       'Rumah berkembar', 'Rumah kampung/rumah panjang',
       'Rumah pangsa/kondo rakyat', 'Rumah setinggan (bandar)',
       'Rumah teres/berangkai', 'Setinggan luar bandar',
       'Rumah teres atau berangkai', 'Rumah pangsa atau kondo rakyat',
       'Rumah kampung atau rumah panjang',
       'Rumah setinggan kawasan bandar', 'Di asrama sekolah atau kolej',
       'Lain-lain Nyatakan', 'Tiada maklumat'], dtype=object)

In [13]:
#juv_kediaman['Kawasan Kediaman'].replace(to_replace=[""], value="", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Di asrama sekolah/kolej","Di asrama sekolah atau kolej"],
                                         value="Di asrama sekolah/kolej", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Lain-lain Nyatakan"], value="Lain-lain", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Rumah kampung atau rumah panjang"], 
                                         value="Rumah kampung/rumah panjang", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Rumah pangsa atau kondo rakyat"], 
                                         value="Rumah pangsa/kondo rakyat", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Rumah setinggan kawasan bandar"], 
                                         value="Rumah setinggan (bandar)", inplace=True)
juv_kediaman['Kawasan Kediaman'].replace(to_replace=["Rumah teres atau berangkai","Rumah teres/berangkai"], 
                                         value="Rumah teres", inplace=True)

In [14]:
# display information based of state (negeri)
juv_kediaman.groupby(by=["Kawasan Kediaman"], dropna=False).count()

                             Tahun  Jumlah
Kawasan Kediaman
Banglo                           4       4
Di asrama sekolah/kolej          4       4
Kondo mewah                      4       4
Lain-lain                        4       4
Rumah berkembar                  4       4
Rumah kampung/rumah panjang      4       4
Rumah pangsa/kondo rakyat        4       4
Rumah setinggan (bandar)         4       4
Rumah teres                      4       4
Setinggan luar bandar            4       4
Tiada maklumat                   1       1

In [15]:
# display information based of state (negeri)
juv_kediaman.groupby(by=["Tahun"], dropna=False).count()

       Kawasan Kediaman  Jumlah
Tahun
2016                 10      10
2017                 10      10
2018                 10      10
2021                 11      11

In [17]:
juv_kediaman['Tahun'] = juv_kediaman['Tahun'].astype(str)

In [18]:
juv_kediaman.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Kawasan Kediaman  41 non-null     object
 1   Tahun             41 non-null     object
 2   Jumlah            41 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [19]:
juv_kediaman['Tahun'] = pd.to_datetime(juv_kediaman['Tahun'])

In [20]:
juv_kediaman.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Kawasan Kediaman  41 non-null     object
 1   Tahun             41 non-null     datetime64[ns]
 2   Jumlah            41 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.3+ KB

In [21]:
excel_file = pd.ExcelWriter("juvdata_kediaman.xlsx")

In [22]:
juv_kediaman.to_excel(excel_file)

In [23]:
excel_file.save()